html,
body {
  padding: 0px !important;
  margin: 0px !important;
}
:root {
  --red: rgb(201, 0, 0);
}
/* Button special css  */
.btn{
  color: #fff !important;
  border-color: var(--red) !important;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn-default {
  background-color:var(--red) !important;
  color: #fff !important;
  border-color:var(--red) !important;
}


/* NAVBAR  */
nav {
  backdrop-filter: blur(7px) !important;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: rgb(80, 77, 77) 0px 10px 30px;
}
nav a {
  font-size: 20px !important;
  font-weight: 400;
  margin-right: 15px !important;
}
.navbar-brand {
  padding-bottom: 0px !important;
}
#logo {
  height: 80px;
}
.headings {
  font-size: 80px !important;
  font-family: "Kurale", serif;
  text-shadow: var(--red) 5px 5px 5px;
  border-bottom: 3px solid var(--red);
}
.spec_font {
  font-size: 25px !important;
  font-family: "Kurale", serif;
  text-shadow: var(--red) 6px 2px 1px;
  display: inline-block;
}
.background {
  background-color: rgba(0, 0, 0, 0.5);
  height: max-content;
  width: 80vw;
  box-shadow: rgb(117, 116, 116) 1px 1px 100px;
}
.btn-style {
  font-family: "Kurale", serif !important;
}