html,
body {
  padding: 0px !important;
  margin: 0px !important;
}
/* NAVBAR  */
nav {
  backdrop-filter: blur(10px) !important;
  background-color: rgba(255, 255, 255, 0.158);
  box-shadow: rgb(80, 77, 77) 0px 10px 30px;
}
#logo {
  height: 80px;
}

/* Landing Container  */

#video {
  position: absolute;
  height: 100vh !important;
  width: 100% !important;
  object-fit: cover;
  background-position: center center;
  cursor: default;
}

#wrap-logo-animate {
  transform: translateZ(0);
  overflow: hidden;
}
#landing-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation-name: logo-animate;
  animation-duration: 2s;
  animation-delay: 4s;
  overflow: hidden;
  transform: translateZ(0);
}
#landing-container::before {
  position: absolute;
  left: 10%;
  content: "";
  background-image: url("./images/AR11.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 80vw;
  filter: opacity(0.4);
  top: 0px;
  animation-name: logo-animate;
  animation-duration: 1s;
  overflow: hidden;
}
#landing-container div {
  z-index: 2;
}
#landing-container div h2 {
  font-size: 150px !important;
  text-align: center;
  font-family: "Kurale", serif;
}
#tagline {
  font-size: 50px;
  text-align: center;
  font-family: "Zeyada", cursive;
}
@keyframes logo-animate {
  from {
    scale: 10;
  }
  to {
    scale: 1;
  }
}

/* About Us */
#About_Us {
  overflow: hidden;
  background-image: url("./images/prime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#About_Us p {
  font-size: 26px;
  color: white;
  font-family: "Kurale", serif;
  width: 120% !important;
}
#About_Us div:nth-child(2) img {
  height: 400px;
}

/* EVENTS  */
#Events {
  flex-basis: 50% !important;
}
.event_cont {
  background-image: url(./images/prime_sketch.jpg) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  color: white;
  scale: 1;
  transition: scale 0.25s ease-in-out;
}
.event_cont:hover {
  scale: 1.1;
}

.card {
  background: none !important;
  text-align: center;
}

/* Footer */
#footer {
  overflow: hidden;
  background-image: url("./images/megatron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: max-content !important;
}
#footer div:nth-child(2) div {
  height: 90% !important;
}
/* Universal classes */
.headings {
  font-size: 80px !important;
  font-family: "Kurale", serif;
  text-shadow: rgb(255, 51, 0) 5px 5px 1px;
}
.spec_font {
  font-size: 25px !important;
  font-family: "Kurale", serif;
  text-shadow: rgb(255, 2, 2) 2px 2px 1px;
}
.background {
  background-color: rgba(0, 0, 0, 0.5);
  height: max-content;
  width: 80vw;
  box-shadow: rgb(117, 116, 116) 1px 1px 100px;
}

/* Animation */
.ease_in {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
.ease_out {
  opacity: 0;
}

/* RESPONSIVENESS */
@media screen and (min-width: 1500px) {
  #About_Us p {
    font-size: 24px;
    width: 110% !important;
  }
  #About_Us div:nth-child(2) img {
    height: 340px;
    margin-right: 0px !important;
    margin-left: 40px !important;
    padding: 15px !important;
  }
}
@media screen and (max-width: 1600px) {
  #About_Us p {
    font-size: 22px;
  }
  #About_Us div:nth-child(2) img {
    height: 280px;
    margin: 5px !important;
    padding: 5px !important;
  }
}
@media screen and (max-width: 1500px) {
  #landing-container div h2 {
    font-size: 80px !important;
    text-align: center;
    font-family: "Kurale", serif;
  }
  #tagline {
    font-size: 40px;
    text-align: center;
    font-family: "Zeyada", cursive;
  }
  .headings {
    font-size: 40px !important;
  }
}
@media screen and (max-width: 1400px) {
  #landing-container div h2 {
    font-size: 70px !important;
    text-align: center;
    font-family: "Kurale", serif;
  }
  #tagline {
    font-size: 50px;
    text-align: center;
    font-family: "Zeyada", cursive;
  }
  .headings {
    font-size: 40px !important;
  }
  #logo {
    padding-left: 10px !important;
  }
  #About_Us p {
    font-size: 20px;
  }
  #About_Us div:nth-child(2) img {
    height: 300px;
  }
  #About_Us div:nth-child(2) {
    margin: 0px !important;
  }
  .background {
    width: 95vw !important;
  }
}
@media screen and (max-width: 1300px) {
  #footer > div > div {
    width: 90% !important;
  }
  #footer > div {
    padding: 5px !important;
  }
  #footer > div > div div {
    padding: 15px !important;
  }
  #footer div:nth-child(2) div {
    height: 70% !important;
  }
  #footer div:nth-child(2):nth-child(2) {
    width: 80% !important;
  }
  #footer > div > div {
    padding: 0px !important;
  }
  #map {
    margin: 20px !important;
  }
  #footer div:nth-child(2) > div iframe {
    height: 250px !important;
    width: 250px !important;
    padding: 0px !important;
  }
}
@media screen and (max-width: 1200px) {
  #About_Us p {
    font-size: 18px;
    width: 120%;
  }
  #About_Us div:nth-child(2) img {
    height: 240px;
    padding-right: 10px !important;
    padding-left: 20% !important;
  }
}
@media screen and (max-width: 1050px) {
  #About_Us p {
    font-size: 16px;
    margin: 0px !important;
  }
  #About_Us div:nth-child(2) img {
    height: 220px;
  }
  #About_Us h2 {
    margin: 0px !important;
  }
  .headings {
    font-size: 35px !important;
  }
  .spec_font {
    font-size: 22px !important;
  }
}
@media screen and (max-width: 900px) {
  #About_Us p {
    font-size: 15px;
    margin: 0px !important;
  }
  #About_Us div:nth-child(2) img {
    height: 210px;
  }
  #About_Us h2 {
    margin: 0px !important;
  }
}
@media screen and (max-width: 800px) {
  #landing-container div h2 {
    font-size: 70px !important;
    text-align: center;
    font-family: "Kurale", serif;
  }
  #tagline {
    font-size: 30px;
    text-align: center;
    font-family: "Zeyada", cursive;
  }
  .headings {
    font-size: 35px !important;
  }
  #About_Us p {
    font-size: 12px;
    margin: 0px auto !important;
    width: 90% !important;
  }
  #About_Us div:nth-child(1) {
    width: 100% !important;
    padding: 5px 0px !important;
  }
  #About_Us div:nth-child(2) {
    width: 100% !important;
    padding: 10px 0px !important;
  }
  #About_Us div:nth-child(2) img {
    height: 220px;
    padding: 0px 10px !important;
  }
  #About_Us h2 {
    margin: 0px auto !important;
    width: 90%;
  }
  #footer p,#footer a{
    font-size: 16px !important;
  }
  .spec_font {
    font-size: 19px !important;
  }
  
}
@media screen and (max-width: 700px) {
  #About_Us p {
    font-size: 13px;
  }
  #About_us div:nth-child(1) {
    padding: 5px !important;
  }
  #About_Us div:nth-child(2) {
    padding: 0px !important;
    width: 100%;
  }
  #About_Us div:nth-child(2) img {
    height: 160px;
    padding: 0px !important;
    padding-left: 10px;
  }
  .spec_font {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 600px) {
  #About_Us p {
    font-size: 13px;
  }
  #About_Us div:nth-child(2) img {
    height: 200px;
    margin: auto 5px !important;
    padding: 5px !important;
  }
  #footer img {
    width: 30px;
  }
  #footer div:nth-child(2):nth-child(2) {
    width: 100% !important;
  }
  #footer div:nth-child(2) div {
    height: max-content !important;
  }
  #footer div:nth-child(2) div{
    height: max-content !important;
  }
  #footer div:nth-child(2) div iframe{
    height: 100% !important;
    width: 80% !important;
  }
  #map{
    height: 10% !important;
  }
}
